section.about
    .container
        .about__head
            h1 About Us
            h3 We are added our major Services
            .divider.about__head--divider
        .about__items
            .about__item
                img.about__item--icon(src="../images/icons/like.png")
                h3 Text
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat praesentium hic minus quidem voluptate quis quaerat quas corporis ducimus quos!
            .about__item
                img.about__item--icon(src="../images/icons/book.png")
                h3 Text
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat praesentium hic minus quidem voluptate quis quaerat quas corporis ducimus quos!
            .about__item
                img.about__item--icon(src="../images/icons/message.png")
                h3 Text
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat praesentium hic minus quidem voluptate quis quaerat quas corporis ducimus quos!