section.approch
    .container
        .approch__head
            h1 Our Approch
            p Check Our approches step by step ( how we do it )
            .divider.approch__head--divider
        .approch__items
            .approch__item.approch__item--even
                .approch__item--text
                    h3 Step 1 : Heading Here
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus sapiente ipsum aperiam. Cumque commodi sunt quis adipisci, tenetur repudiandae nam repellendus id. Hic, fuga rerum?
                .approch__item--step
                    span 1
                    p step
                img.approch__item--img(src="images/step-1.jpg")
            .approch__item.approch__item--odd
                .approch__item--text
                    h3 Step 2 : Heading Here
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus sapiente ipsum aperiam. Cumque commodi sunt quis adipisci, tenetur repudiandae nam repellendus id. Hic, fuga rerum?
                .approch__item--step
                img.approch__item--img(src="images/step-2.jpg")
            .approch__item.approch__item--even
                .approch__item--text
                    h3 Step 3 : Heading Here
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus sapiente ipsum aperiam. Cumque commodi sunt quis adipisci, tenetur repudiandae nam repellendus id. Hic, fuga rerum?
                .approch__item--step
                img.approch__item--img(src="images/step-3.jpg")
            .approch__item.approch__item--odd
                .approch__item--text
                    h3 Step 4 : Heading Here
                    p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus sapiente ipsum aperiam. Cumque commodi sunt quis adipisci, tenetur repudiandae nam repellendus id. Hic, fuga rerum?
                .approch__item--step
                img.approch__item--img(src="images/step-4.jpg")