section.footer
    .container
        .footer__head
            h1 Get in touch
        .social__items
            .social__item.social__item--active
                .social__item--facebook
                    a.social__item--link(href="#")
                    .social__item--icon
                        i.fab.fa-facebook-f
            .social__item
                .social__item--twitter
                    a.social__item--link(href="#")
                    .social__item--icon
                        i.fab.fa-twitter
            .social__item
                .social__item--google
                    a.social__item--link(href="#")
                    .social__item--icon
                        i.fab.fa-google-plus-g
            .social__item
                .social__item--linkedin
                    a.social__item--link(href="#")
                    .social__item--icon
                        i.fab.fa-linkedin-in