header.header
    .header__top
        .container
            .contacts
                a.contact(href="tel:+380977105756")
                    i.fas.fa-mobile-alt.contact__icon
                    span.contact__text 0977105756
                a.contact(href="mailto:info@business.cox")
                    i.far.fa-envelope.contact__icon.contact__icon--email
                    span.contact__text info@business.cox
                a.facebook-icon(href="facebook.com")
                    i.fab.fa-facebook-square.contact__icon
                    
    .header__bottom
        .container
            .logo: img.logo__picture(src="images/logo.png")
            nav.nav
            - var navLinkItems = [ "Home", "About Us", "Our Approach", "Our Work"]
            - var navLinkUrls = [ "home.html", "about.html", "approach.html", "work.html"]
                each item, key in navLinkItems
                    a(href="http://" + navLinkUrls[key] target="blank") #{navLinkItems[key]}
                    //- if item === 'Home'
                    //-     a.nav__link.nav__link--active(href="http://" + navLinkUrls[key] target="blank") = navLinkItems
                    //- else
                    //-      a.nav__link(href="http://" + navLinkUrls[key] target="blank") = navLinkItems
            a.button.header__button.button--red(href="#") Free Consultation