doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content="IE=edge")
    meta(name='viewport' content='width=device-width')
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" crossorigin="anonymous")
    link(rel="stylesheet" href="css/main.min.css")
    title Business
  body
    include sections/header.pug
    include sections/hero.pug
    include sections/about.pug
    include sections/approch.pug
    include sections/work.pug