.approch
    background: rgb(243, 243, 243)

.approch__item
    display: flex
    background: #ffffff
    margin-bottom: 40px
    border-radius: 5px
    box-shadow: 0 0 3px 1px #dddddd
    &--even
        flex-direction: row-reverse