.header
    &__top
        background-color: #f9f2f4
        border-bottom: 1px solid #e2e2e2
    &__bottom
        margin: 40px 0
        .container
            display: flex
            justify-content: space-between
            align-items: center
            
    
.contacts
    display: flex
    justify-content: flex-end
    align-items: center

.contact
    display: inline-block
    vertical-align: top
    padding: 10px 10px 8px
    color: #424242
    transition: 0.3s
    text-decoration: none
    &:hover
        color: lighten(#424242, 20%)
    &:first-child
        margin-right: 8px
        padding-right: 18px
        border-right: 1px solid #e2e2e2
    &__icon
        margin-right: 7px
        &--email
            font-size: 1.2rem

.facebook-icon
    display: inline-block
    margin: 7px 0
    padding: 5px 8px 1px
    color: #1287bf

.nav
    &__link
        font-weight: 700
        font-size: 14px
        color: #101010
        text-decoration: none
        &--active
            color: #de2b24
    
