.hero
    background-image: url(../../images/hero-img.jpeg)
    height: 50%
    background-size: cover
    position: relative
    background-position: center
    background-repeat: no-repeat
    padding: 180px 0
    display: flex
    flex-direction: column
    align-items: center

.hero__text
    text-align: center
    color: #ffffff
    h1 
        font-size: 46px
