.hero
    background: #cccccc url(../images/hero-bg.jpg)
    height: $hero-height
    background-size: cover
    position: relative
    background-position: center
    background-repeat: no-repeat
    padding: 180px 0
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    text-align: center

.hero__text
    color: #ffffff
    h1 
        font-size: 46px
    h2
        font-weight: 300
