.container
    max-width: 1024px
    margin: auto

.divider
    width: 50px
    height: 5px
    margin: 0 auto

.about__head,
.approch__head,
.work__head
    text-align: center
    margin: 90px 0
    &--divider
        background: $font-color

    